<h1 class = 'text-center mb-30 neon'>Restaurants</h1>


<div class="m-3">
  <%= render partial: 'table' %>
</div>

<%= link_to "+ Add a new restaurant", 'restaurants/new', class: 'btn btn-primary m-3' %>

